<%= form_for @category do |f| %>
<input id="uploadify" name="uploadify" type="file" />
  <p>
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </p>
  <p><%= f.submit "Submit" %></p>
<% end %>
